<div class="message">
    <p>Entre em contato com a pessoa ou instituição que está cuidado do animal:</p>

    <form onSubmit={handleSubmit(onSubmit)}>
        <label htmlFor="name">Nome</label>
        <input disabled="true" id='name' value="{{abrigo.name }}">

        <label htmlFor="phone">Telefone</label>
        <input disabled="true" id="phone" value="{{ abrigo.phone }}">

        <label htmlFor="email">E-mail</label>
        <input disabled="true" id="email" value="{{ abrigo.email }}">

        <label htmlFor="location">Localização</label>
        <input disabled="true" id='location' value="{{ abrigo.location }}">

        <a [copyText]="[( tutorId )]" appCopyText class="copy_id">
            <p>Informe o seu id:<br>{{ tutorId }}
                <img class="copy_id" src="assets/copy.png">
            </p>
        </a>
    </form>
</div>
