
<header class="header">
    <nav>
        <div>
        <a aria-label="Inicio" routerLink="/" >
            <img alt="" aria-hidden="true" class="header__logo" src="/assets/logo-clear.svg" />
        </a>

        <div *ngIf="role == '[ABRIGO]'; then thenBlock else elseBlock"></div>
        <ng-template #thenBlock>
            <a aria-label="Tela inicial" class="header__home" routerLink="/pets" ></a>
        </ng-template>
        <ng-template #elseBlock>
            <a aria-label="Tela inicial" class="header__home" routerLink="/home" ></a>
        </ng-template>
        </div>
    </nav>
</header>
