<div class="home">
    <p>Olá! <br /> Veja os pets registrados no abrigo:</p>
    <a class="register__button" routerLink="cadastro-pet"><button>Cadastrar pet</button></a>
    <br>
    <div class="cards">
        <div *ngFor="let pet of petsPage.content" class="card">
            <h4>{{ pet.name }}</h4>
            <ul>
                <li>{{ pet.age }}</li>
                <li>{{ pet.size }}</li>
            </ul>
            <p class="card__city">{{ pet.address }}</p>
            <img [alt]="pet.name" [src]="pet.image" style="max-width: 90%;">
            <div *ngIf="!pet.adopted">
                <a [routerLink]="['adocao', pet.id]" style="color: var(--blue);">Iniciar adoção</a>
            </div>
            <div *ngIf="pet.adopted" style="color: var(--blue);">Adotado</div>
        </div>
    </div>
</div>
