<body style="background-color: #3874ff; margin-top: -5rem;">
    <div class="initial" style="position: relative; background-color: #3874ff; padding-top: 7rem;">
        <img src="assets/logo-clear.svg" alt="Logo AdoPet" />
        <h3>Boas-vindas!</h3>
        <p>
        Adotar pode mudar uma vida. Que tal buscar seu novo melhor amigo hoje? Vem com a gente!
        </p>
        <div class="home__buttons">
            <a class="button" routerLink="home">Ver pets disponíveis para adoção</a>
            <div>
                <a class="initial__link" href="/cadastro">Cadastrar</a>
                <span style="font-size: 14; padding: 0 1rem; color: #fff">ou</span>
                <a class="initial__link" href="/login">Fazer login</a>
            </div>
        </div>
    </div>
</body>
<app-footer-img></app-footer-img>
