<div class="register">
    <img alt="Adopet" src="assets/logo-blue.svg" />
    <p>
        Já tem conta? Faça seu login:
    </p>
    <form (ngSubmit)="login()">
        <label htmlFor="email">E-mail</label>
        <input #email="ngModel" [(ngModel)]="loginForm.email" email id="email" name="email"
            placeholder="Digite seu email" required type="email"/>
        <div *ngIf="email.invalid && email.dirty" class="error">
            <div *ngIf="email.hasError('required')">
                Digite seu E-mail.
            </div>
            <div *ngIf="email.hasError('email')">
                E-mail inválido.
            </div>
        </div>

        <label htmlFor="pass-create">Senha</label>
        <span>
            <input #password="ngModel" [(ngModel)]="loginForm.password" id="pass-create" name="password"
                placeholder="Insira sua senha" required type="password"/>
            <div *ngIf="password.invalid && password.dirty" class="error">
                <div *ngIf="password.hasError('required')">
                    Digite sua senha.
                </div>
            </div>
        </span>

        <button type="submit">Entrar</button>
        <p>Ainda não tem conta?</p>
        <a class="register__button" href="/cadastro">Faça seu cadastro</a>
    </form>
</div>
